.info {
  display: flex;
  align-items: center;

  margin-bottom: 56px;
}

.info-avatar {
  padding-right: 23px;
}

.info-box {
  h2 {
    padding-bottom: 10px;
  }
}

.info-arrowUp {
  padding-right: 10px;
}
